{% extends "base.html" %}

{% block content %}

<section class="hero">
    <div>
        <p>
            Hi, I am <strong>Zalán Lévai</strong>, a PhD Student in Mutation Testing at the University of Sheffield.
            You will know me from my work on and surrounding
            <a href="https://mutest.rs">mutest-rs</a>,
            the mutation testing tool for Rust programs that I created and maintain.
        </p>
        <p>
            My work focuses on both research and development, and I am equally fascinated by theory and practice.
            My interests include compilers, static and dynamic analysis, testing and quality assurance, embedded systems, safety-critical systems engineering,
            and anything involving the Rust programming language.
            I am a member of the <a href="https://arewesafetycriticalyet.org/tooling/members">Safety-Critical Rust Consortium's Tooling Subcommittee</a>.
        </p>
        <p>
            I am originally from Budapest, Hungary, hence my name and its accents.
        </p>
        <p>
            Below, you will find my <a href="#talks">talks</a> and <a href="#publications">publications</a>.
        </p>
    </div>

    <img class="hero-img" src="/images/zalanlevai.jpeg" alt="Profile image of Zalán Lévai">
</section>

{% if section.extra.talks %}
<section>
<h2 id="talks">Talks</h2>
<ul class="timeline">
{% for talk in section.extra.talks %}
    <li>
        <div class="aside">{{ talk.year }}</div>
        <b>{{ talk.title }}</b><br>
        <i>{{ talk.venue }}{% if talk.location %} ({{ talk.location }}){% endif %}</i><br>
        {% if talk.uri %}
            [<a href="{{ talk.uri }}">INFO</a>]
        {% endif %}
    </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% if section.extra.publications %}
<section>
<h2 id="publications">Publications</h2>
<ul class="timeline">
{% for publication in section.extra.publications %}
    <li>
        <div class="aside">{{ publication.year }}</div>
        <b>{{ publication.title }}</b><br>
        {{ publication.authors | join(sep=", ") }}<br>
        <i>{{ publication.in }}{% if publication.location %} ({{ publication.location }}){% endif %}</i><br>
        {% if publication.doi %}
            [<a href="https://doi.org/{{ publication.doi }}" target="_blank">DOI</a>]
        {% endif %}
        {% if publication.pdf %}
            [<a href="https://mozilla.github.io/pdf.js/web/viewer.html?file={{ publication.pdf }}" target="_blank">PDF</a>]
        {% endif %}
    </li>
{% endfor %}
</ul>
</section>
{% endif %}

{% endblock content %}
